body {
    background-color: #5636cc;
    font-family: Helvetica;
    color: white;
}

.homelink {
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: center;
    color: white;
}

.title {
    text-align: center;
}

.info {
    position: fixed;
    top: 60px;
    left: 100px;
    overflow-wrap: normal;
}

.youtubelogo {
    position: fixed;
    top: 10px;
    right:70px;
}

.twitterlogo {
    position: fixed;
    top: 10px;
    right: 10px;
}
