body {
    background-color: #5636cc;
    font-family: Helvetica;
    color: white;
    text-align: center;
}

.youtubelogo {
    position: fixed;
    top: 10px;
    right:70px;
}

.twitterlogo {
    position: fixed;
    top: 10px;
    right: 10px
}

.onelink {
    position: fixed;
    top: 10px;
    left: 10px;
    color:white;
}
