body {
    background-color: #5636cc;
    font-family: Helvetica;
    color: white;
    text-align: center;
}

.homelink {
    position: fixed;
    top: 10px;
    left: 10px;
    color:white;
}


.onetitle {
    position: absolute;
    top: 100px;
    left: 100%;
}
.onethumbnail {
    position: absolute;
    top: 120px;
    left: 40%;
}

.twotitle {
    position: absolute;
    top: 250px;
    left: 30%;
    text-align: center;
}

.twothumbnail {
    position: absolute;
    top: 315px;
    left: 40%;
}

.threetitle {
    position: absolute;
    top: 430px;
    left: 30%;
    text-align: center;
}

.threethumbnail {
    position: absolute;
    top: 505px;
    left: 40%;
}
