body {
    background-color: #5636cc;
}

h1 {
    font-family: Helvetica;
    color: white;
}

h2 {
    font-family: Helvetica;
    color: white;
}

p {
    font-family: Helvetica;
    color: white;
}